<!DOCTYPE html>
<html>
<head>
<title>Welcome!</title>
</head>
<body style="background-color:grey" >
<h1 style="font-family:verdana; font-size:48px;">Testing is fun!</h2>
<h2>Testing! </h2>
<p>Testing text </p>
<p>Testing another text</p>
</body>
</html>